@model CheckBoxLineWs5

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/js/CheckBox.js"></script>
<script src="~/js/loading.js"></script>
<link href="~/css/DivWyszukiwarka.css" rel="stylesheet" />


<div>
    <div id="idDivCheckBox" class="fixed">
        @*<h2>Opcja wyboru:</h2>*@

        @*<div asp-validation-summary="All" class="text-danger"></div>*@

        <form asp-action="LineWs5" method="post">
            <table class="table table-striped table-bordered">
                <tr>
                    <td colspan="3">
                        <label style="font-size:20px; font-weight:bold;">Opcja wyszukiwania:</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" asp-for="@Model.SelectCode">
                        <label asp-for="@Model.SelectCode"> Wyszukiwanie pod kodzie</label><br>
                    </td>
                    <td>
                        <input type="checkbox" asp-for="@Model.SelectPzzw">
                        <label asp-for="@Model.SelectPzzw"> Wyszukiwanie po zleceniu PZZW</label><br>
                    </td>
                    <td>
                        <input type="checkbox" asp-for="@Model.SelectDate">
                        <label asp-for="@Model.SelectDate"> Wyszukiwanie po dacie</label><br>
                        <div id="divDateTime">
                            @*<label asp-for="@Model.From">Wybór daty od kiedy:</label>
                                <input type="date" asp-for="@Model.From"><br>*@
                            <label asp-for="@Model.DateTime">Wybierz dzień:</label>
                            @*<div><span asp-validation-for="@Model.DateTime" class="text-danger"></span></div>*@
                            <input type="date" asp-for="@Model.DateTime"><br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label style="font-size:20px; font-weight:bold;">Stanowiska:</label>
                    </td>
                </tr>
                <tr>
                    <td class="checkboxes">
                        <input type="checkbox" asp-for="@Model.All">
                        <label asp-for="@Model.All"> Zaznacz wszystko</label><br>
                        <input type="checkbox" asp-for="@Model.Stf">
                        <label asp-for="@Model.Stf"> Stf</label><br />
                        <input type="checkbox" asp-for="@Model.Etap1">
                        <label asp-for="@Model.Etap1"> Etap 1</label><br>
                        <input type="checkbox" asp-for="@Model.Etap2">
                        <label asp-for="@Model.Etap2"> Etap 2</label>
                    </td>

                    <td class="checkboxes">
                        <input type="checkbox" asp-for="@Model.Etap3">
                        <label asp-for="@Model.Etap3"> Etap 3</label><br />
                        <input type="checkbox" asp-for="@Model.PLT">
                        <label asp-for="@Model.PLT"> Pre leak tester</label><br>
                        <input type="checkbox" asp-for="@Model.FLT">
                        <label asp-for="@Model.FLT"> Final leak tester</label>
                    </td>

                    <td class="checkboxes">
                        <input type="checkbox" asp-for="@Model.Etap4">
                        <label asp-for="@Model.Etap4"> Etap4</label><br>
                        <input type="checkbox" asp-for="@Model.FG">
                        <label asp-for="@Model.FG"> Sprawdzian geometrii</label><br>
                        <input type="checkbox" asp-for="@Model.PetlaKJ">
                        <label asp-for="@Model.PetlaKJ"> Pętla KJ</label>
                    </td>


                </tr>
                <tr>
                    <td colspan="3" id="widthTdSubmit">
                        <input id="submitClick" type="submit" value="Wyszukiwanie" class="btn btn-primary mb-2" name="wyszukiwanie">
                        <input id="idPobierz" type="submit" value="Pobranie" class="btn btn-primary mb-2" name="pobierz">
                    </td>
                </tr>

                <tr>
                    <td colspan="4">
                        @*   <div><span asp-validation-for="@Model.TextArea" class="text-danger"></span></div>*@
                        <textarea id="textArea" asp-for="@Model.TextArea" rows="10" cols="100"></textarea>
                    </td>
                </tr>


            </table>
        </form>
    </div>

    <div>
        <div id="divLoading" class="fixed">
            <h4>Trwa wyszukiwanie...</h4>
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>


        <div id="divTables" class="fixed_2">

            @if (Model?.HtmlTable?.Count > 0)
            {
                @foreach (var html in Model.HtmlTable)
                {
                    <h4>Stf</h4>
                    <div htmltable="html" style="width:1200px;" />
                }
            }

            @*Etap 1*@
            @if (Model?.DaneEtap1?.Count > 0)
            {
                <h4>Etap 1</h4>
                <table class="table table-hover table-striped table-bordered" id="idE1" style="width:850px;">
                    <thead class="btn-dark">
                        <tr class="text-white">
                            <th style="font-size:14px">Nr shell Doc</th>
                            <th style="font-size:14px">Wynik operacji</th>
                            <th style="font-size:14px">Data operacji</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var m in Model.DaneEtap1)
                        {
                            <tr style="font-size:12px">
                                <td>@m.NrShellDoc</td>
                                <td>@m.Wynik_operacji</td>
                                <td>@m.DateTime</td>
                            </tr>
                        }

                    </tbody>
                </table>
            }

            @*Etap 2*@
            @if (Model?.DaneEtap2?.Count > 0)
            {
                <h4>Etap 2</h4>
                <table class="table table-hover table-striped table-bordered" id="idE2" style="width:850px;">
                    <thead class="btn-dark">
                        <tr class="text-white">
                            <th style="font-size:14px">Nr shell SCRoF</th>
                            <th style="font-size:14px">Wynik operacji</th>
                            <th style="font-size:14px">Data operacji</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var m in Model.DaneEtap2)
                        {
                            <tr style="font-size:12px">
                                <td>@m.NrShellScrof</td>
                                <td>@m.Wynik_operacji</td>
                                <td>@m.DateTime</td>
                            </tr>
                        }

                    </tbody>
                </table>
            }

            @*Etap 3*@
            @if (Model?.DaneEtap3?.Count > 0)
            {
                <h4>Etap 3</h4>
                <table class="table table-hover table-striped table-bordered" id="idE3" style="width:850px;">
                    <thead class="btn-dark">
                        <tr class="text-white">
                            <th style="font-size:14px">Nr shell SCRCUC</th>
                            <th style="font-size:14px">Wynik operacji</th>
                            <th style="font-size:14px">Data operacji</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var m in Model.DaneEtap3)
                        {
                            <tr style="font-size:12px">
                                <td>@m.NrShellScrucu</td>
                                <td>@m.Wynik_operacji</td>
                                <td>@m.DateTime</td>
                            </tr>
                        }

                    </tbody>
                </table>
            }

            @*PLT*@
            @if (Model?.DanePLT?.Count > 0)
            {
                <h4>Pre leak tester</h4>
                <table class="table table-hover table-striped table-bordered" id="idPLT" style="width:1200px;">
                    <thead class="btn-dark">
                        <tr class="text-white">
                            <th style="font-size:14px">Nr mixer</th>
                            <th style="font-size:14px">Wynik operacji</th>
                            <th style="font-size:14px">Wyciek</th>
                            <th style="font-size:14px">Wyciek jendostka</th>
                            <th style="font-size:14px">Ciśnienie</th>
                            <th style="font-size:14px">Ciśnienie jednostka</th>
                            <th style="font-size:14px">Data operacji</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var m in Model.DanePLT)
                        {
                            <tr style="font-size:12px">
                                <td>@m.NrMixer</td>
                                <td>@m.Wynik_operacji</td>
                                <td>@m.Wyciek</td>
                                <td>@m.Wyciek_jedn</td>
                                <td>@m.Cisnienie</td>
                                <td>@m.Cisnienie_jedn</td>
                                <td>@m.DateTime</td>
                            </tr>
                        }

                    </tbody>
                </table>
            }

            @*FLT*@
            @if (Model?.DaneFLT?.Count > 0)
            {
                <h4>Final leak tester</h4>
                <table class="table table-hover table-striped table-bordered" id="idFLT" style="width:1700px;">
                    <thead class="btn-dark">
                        <tr class="text-white">
                            <th style="font-size:14px">Nr shell Doc</th>
                            <th style="font-size:14px">Nr shell SCRoF</th>
                            <th style="font-size:14px">Nr shell SCRCUC</th>
                            <th style="font-size:14px">Nr mixer</th>
                            <th style="font-size:14px">Nr osłony</th>
                            <th style="font-size:14px">Wynik operacji</th>
                            <th style="font-size:14px">Wyciek</th>
                            <th style="font-size:14px">Wyciek jendostka</th>
                            <th style="font-size:14px">Ciśnienie</th>
                            <th style="font-size:14px">Ciśnienie jednostka</th>
                            <th style="font-size:14px">Data operacji</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var m in Model.DaneFLT)
                        {
                            <tr style="font-size:12px">
                                <td>@m.NrShellDoc</td>
                                <td>@m.NrShellScrof</td>
                                <td>@m.NrShellScrucu</td>
                                <td>@m.NrMixer</td>
                                <td>@m.Nr_Oslona</td>
                                <td>@m.Wynik_operacji</td>
                                <td>@m.Wyciek</td>
                                <td>@m.Wyciek_jedn</td>
                                <td>@m.Cisnienie</td>
                                <td>@m.Cisnienie_jedn</td>
                                <td>@m.DateTime</td>
                            </tr>
                        }

                    </tbody>
                </table>
            }

            @*Etap 4*@
            @if (Model?.DaneEtap4?.Count > 0)
            {
                <h4>Etap 4</h4>
                <table class="table table-hover table-striped table-bordered" id="idE4" style="width:1000px;">
                    <thead class="btn-dark">
                        <tr class="text-white">
                            <th style="font-size:14px">Nr shell Doc</th>
                            <th style="font-size:14px">Nr shell SCRoF</th>
                            <th style="font-size:14px">Nr shell SCRCUC</th>
                            <th style="font-size:14px">Nr mixer</th>
                            <th style="font-size:14px">Nr osłony</th>
                            <th style="font-size:14px">Wynik operacji</th>
                            <th style="font-size:14px">Data operacji</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var m in Model.DaneEtap4)
                        {
                            <tr style="font-size:12px">
                                <td>@m.NrShellDoc</td>
                                <td>@m.NrShellScrof</td>
                                <td>@m.NrShellScrucu</td>
                                <td>@m.NrMixer</td>
                                <td>@m.Nr_Oslona</td>
                                <td>@m.Wynik_operacji</td>
                                <td>@m.DateTime</td>
                            </tr>
                        }

                    </tbody>
                </table>
            }

            @*Sprawdzian geometrii*@
            @if (Model?.DaneFG?.Count > 0)
            {
                <h4>Sprawdzian geometrii</h4>
                <table class="table table-hover table-striped table-bordered" id="idFG" style="width:850px;">
                    <thead class="btn-dark">
                        <tr class="text-white">
                            <th style="font-size:14px">Nr osłony</th>
                            <th style="font-size:14px">Wynik operacji</th>
                            <th style="font-size:14px">Data operacji</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var m in Model.DaneFG)
                        {
                            <tr style="font-size:12px">
                                <td>@m.Nr_Oslona</td>
                                <td>@m.Wynik_operacji</td>
                                <td>@m.DateTime</td>
                            </tr>
                        }

                    </tbody>
                </table>
            }

            @*CL*@
            @if (Model?.DanePetlaKJ?.Count > 0)
            {
                <h4>Pętla KJ</h4>
                <table class="table table-hover table-striped table-bordered" id="idCL" style="width:1500px;">
                    <thead class="btn-dark">
                        <tr class="text-white">
                            <th style="font-size:14px">Nr Osłony</th>
                            <th style="font-size:14px">Pzzw</th>
                            <th style="font-size:14px">Wynik operacji</th>
                            <th style="font-size:14px">Uwagi</th>
                            <th style="font-size:14px">Nr operatora</th>
                            <th style="font-size:14px">Data operacji</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var m in Model.DanePetlaKJ)
                        {
                            <tr style="font-size:12px">
                                <td>@m.Nr_Grawerka</td>
                                <td>@m.PZZW</td>
                                <td>@m.Wynik_operacji</td>
                                <td>@m.Uwagi</td>
                                <td>@m.OperatorID</td>
                                <td>@m.DateTime</td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

<script>

    function exportCSV() {

        var fileName = 'LiniaWS5_';

        if ($('#Etap1').is(':checked') && $('#idE1').find('tr').length > 0)
            $('#idE1').table2csv({
                filename: fileName + 'Etap1.csv',
                separator: ';'
            });

        if ($('#Etap2').is(':checked') && $('#idE2').find('tr').length > 0)
            $('#idE2').table2csv({
                filename: fileName + 'Etap2.csv',
                separator: ';'
            });

        if ($('#Etap3').is(':checked') && $('#idE3').find('tr').length > 0)
            $('#idE3').table2csv({
                filename: fileName + 'Etap3.csv',
                separator: ';'
            });

        if ($('#PLT').is(':checked') && $('#idPLT').find('tr').length > 0)
            $('#idPLT').table2csv({
                filename: fileName + 'PreLeakTester.csv',
                separator: ';'
            });

        if ($('#FLT').is(':checked') && $('#idFLT').find('tr').length > 0)
            $('#idFLT').table2csv({
                filename: fileName + 'FinalLeakTester.csv',
                separator: ';'
            });

        if ($('#Etap4').is(':checked') && $('#idE4').find('tr').length > 0)
            $('#idE4').table2csv({
                filename: fileName + 'Etap4.csv',
                separator: ';'
            });

        if ($('#FG').is(':checked') && $('#idFG').find('tr').length > 0)
            $('#idFG').table2csv({
                filename: fileName + 'SprawdzianGeometrii.csv',
                separator: ';'
            });

        if ($('#PetlaKJ').is(':checked') && $('#idCL').find('tr').length > 0)
            $('#idCL').table2csv({
                filename: fileName + 'PetlaKJ.csv',
                separator: ';'
            });
    }

</script>

